<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        
        table, td, th {
            border:solid 2px black;
            padding:20px 50px;
            margin: 80px auto;
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        th {
            background-color:#F2784B;
           
        }    
        
        </style>
        
    <title>Informações</title>
</head>
<body>
    <header>
        <nav>
            <a href="gerenciamento.html"> 
                INICIO
            </a>
        </nav>
        <div class="conteiner">  
            <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
            <h1>Informações</h1>
        </div>
    </header>
    <main>    
        <% for(let i=0; i< pessoas.length; i++){%>
                <table>
                    <tr>
                    <th> Nome </th>
                    <th> CPF </th>
                    <th> Telefone </th>
                    <th> Endereco</th>
                    <tr>
                        <td><%= pessoas[i].nomePessoa %></td>
                        <td><%= pessoas[i].CPF %></td>
                        <td><%= pessoas[i].Telefone%></td>
                        <td>Rua: <%= pessoas[i].Logradouro %>
                            Numero: <%= pessoas[i].Numero %>
                            Bairro: <%= pessoas[i].Bairro %>
                            Cidade: <%= pessoas[i].Cidade %></td>
                    </tr>
                </table>
            <% }%>

        <div class="botao">
            <form>
                <input class="botao" type="button" value= "Voltar" formaction= "controle_cliente.html"></input>
            </form>
        </div>
    </main>
